<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel required>
  </div>
  <div class="form-group">
    <label for="alias">Character Alias</label>
    <input type="text" id="alias" name="alias" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="brand">Choose brand</label>
    <select name="brand" id="brand" class="form-control" ngModel>
      <option *ngFor="let option of availableBrands" [value]="option.value">{{ option.display }}</option>
    </select>
  </div>
  <br>
  <button class="btn btn-success" type="submit">Add Character</button>
</form>
